body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.zoom{
    max-width:250px;
    height:auto;
    transition: transform .4s;
}

.zoom:hover{
    transform: scale(1.07);
    cursor: pointer;
}

#buttons{
    border: 1.5px solid white;
}
#buttons:hover{
    border:1.5px solid #76A8F4;
    color: #76A8F4;
    background: white;
}